@import "base"
@import "vars"
@import "fonts"

.main_header_wrapper
	position: fixed
	left: 0
	right: 0
	z-index: 3

.main_header
	display: flex
	justify-content: space-between	
	align-items: center
	height: 60px
	width: 1100px
	margin: 0 auto
		
.scrolled
	background-color: #fff
	p
		color: #000
	
.main_logo
	color: #fff
	font-size: 28px
	display: flex
	margin-top: 15px
	span
		font-weight: 900
	&:hover
		color: #fff

.main_logo_img
	width: 30px
	margin-bottom: 15px
	margin-right: 10px

.main_nav_element
	position: relative
	font-size: 14px
	font-weight: 700
	margin-left: 38px
	color: $nav_color
	&:hover
		color: #fff


.main_nav_element_active
	color: #000
	&:after
		content: ""
		position: absolute
		top: 36px
		left: -10%
		width: 120%
		height: 3px
		background-color: $accent
		opacity: 1

.slider
	position: relative
	width: 100%
	height: 560px
	display: flex
	align-items: flex-end
	

.slider_responsive
	width: 1100px
	display: flex
	justify-content: space-between	
	margin: 120px auto 0 auto

.slider_content
	width: 510px
	color: #fff
	z-index: 2
	h2
		font-weight: 700
		font-size: 30px
		line-height: 1.4
	p
		font-size: 18px
		font-weight: 600
		margin-top: 15px

.button
	background-color: $accent
	border: none
	color: #fff
	margin-top: 14px
	padding: 11px 30px
	border-radius: 4px
	font-weight: 800
	font-size: 16px
	transition: background-color 0.5s ease
	&:hover
		background-color: darken($accent, 5%)
	&:active
		background-color: $science_blue
		border: 3px solid #407dbb
		margin-top: 11px
		margin-left: -3px

#slide1
	position: absolute
	top: 0	
	background-image: url('../img/hero-1.jpg')
	background-size: cover
	background-position: center
	width: 100%
	height: 100%
	opacity: 0
	transition: opacity .5s ease-out

#slide2
	position: absolute
	top: 0
	background-image: url('../img/hero-2.jpg')
	background-size: cover
	background-position: center
	width: 100%
	height: 100%
	opacity: 0
	transition: opacity .5s ease-out

#slide3
	position: absolute
	top: 0
	background-image: url('../img/hero-3.jpg')
	background-size: cover
	background-position: center
	width: 100%
	height: 100%
	opacity: 0
	transition: opacity .5s ease-out

.show
	opacity: 1 !important

.buttons
	z-index: 2
	margin: 0 auto
	margin-bottom: 30px
	display: flex

.slider_button
	border-radius: 8px
	width: 11px
	height: 11px
	background-color: $spanish_gray
	margin-right: 8px
	cursor: pointer
		
.slider_button_active
	background-color: $accent

.main_imac_wrapper
	position: absolute
	right: 0
	left: 0
	width: 570px
	margin: 0 auto

.main_imac
	margin-left: 270px

.section_why
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 100px

	h1
		font-size: 35px
		font-weight: 300

.section_why_descr
	width: 760px
	text-align: center
	font-size: 16px
	color: #a2a6b1
	margin-top: 5px

.section_why_brands
	margin-top: 40px
	display: flex
	justify-content: space-between
	width: 460px

.benefits
	display: flex
	justify-content: space-between
	margin-top: 120px
	margin-bottom: 70px
	width: 1045px

.benefit
	width: 300px
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	
	h2
		color: $accent
		font-size: 18px
		font-weight: 700

	p
		font-size: 14px
		color: #616670

.benefit_img
	height: 200px

.section_customers
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 90px
	padding-bottom: 90px
	width: 100%
	background: #40babd url('../img/map.png') no-repeat center
	background-size: cover

	h1
		font-size: 35px
		font-weight: 300
		color: #fff
		margin-bottom: 10px

.customer
	display: flex
	width: 745px
	margin-top: 50px

.customer_img_wrapper
	img
		width: 80px

.customer_blockquote
	position: relative
	background-color: rgba(0, 0, 0, 0.18)
	padding: 30px 60px 10px 25px
	border-radius: 4px 
	p
		color: #fff
		font-size: 14px
	.customer_profile_name
		color: #000

.right
	margin-left: 30px
	&:before
		content: ""
		position: absolute
		top: 33px
		left: -20px
		border: 10px solid transparent
		border-right: 10px solid rgba(0, 0, 0, 0.18)

.left
	margin-right: 30px
	&:before
		content: ""
		position: absolute
		top: 33px
		left: 100%
		border: 10px solid transparent
		border-left: 10px solid rgba(0, 0, 0, 0.18)
		z-index: 0

.section_features
	width: 100%
	padding-top: 90px
	padding-bottom: 220px
	display: flex
	flex-direction: column
	align-items: center

	h1
		font-size: 35px
		font-weight: 300
		color: #000
		margin-bottom: 10px

.section_features_descr
	text-align: center

.feature_slider_wrapper
	display: flex
	width: 1100px
	margin-top: 50px
	
.feature_slider
	width: 700px
	position: relative

.feature_slide
	position: absolute
	opacity: 0
	transition: opacity .3s ease

.feature_slide_active
	opacity: 1

.feature_slide_active
	opacity: 1

.feature_list
	margin-left: 50px
	font-size: 16px
	li
		margin-top: 35px
		list-style: none
		cursor: pointer
		transition: color 0.5s ease
		&:hover
			color: $accent

.feature_list_active
	font-weight: 700
	color: $accent

.fas
	margin-right: 10px

.section_team
	background-color: #f5f5f5
	padding-top: 90px
	padding-bottom: 90px
	display: flex
	flex-direction: column
	align-items: center

	h1
		font-size: 35px
		font-weight: 300
		color: #000
		margin-bottom: 10px

.section_team_descr
	width: 800px
	text-align: center
	font-size: 14px
	margin-top: 10px

.team_member_wrapper
	margin-top: 70px
	width: 780px
	display: flex
	justify-content: space-between

.team_member
	width: 375px
	background-color: #fff
	text-align: center
	padding: 30px 30px 50px 30px
	img
		width: 120px
	p
		font-size: 14px
		margin-top: 30px
	h3
		color: $accent
		font-size: 18px
		font-weight: 700
		margin-top: 10px
	h4
		font-size: 16px
		margin-top: 10px
	a
		color: $accent
		&:hover
			text-decoration: underline

.team_member_icons
	margin: 0 auto
	display: flex
	justify-content: space-between
	margin-top: 15px

	.fas, .fab
		color: #fff
		font-size: 20px
		margin-top: 6px

.icons_left
	width: 200px

.icons_right
	width: 120px

.globe
	background-color: #75babd
	.fas
		margin-left: 6.2px

.dribbble
	background-color: #ec4d8b

.github
	background-color: #444

.facebook
	background-color: #3b5998

.twitter
	background-color: #58bbee

.medium
	background-color: #000

.team_member_icon_circle
	width: 32px
	height: 32px
	border-radius: 16px 

.section_pricing
	padding-top: 90px
	padding-bottom: 90px
	display: flex
	flex-direction: column
	align-items: center

	h1
		font-size: 35px
		font-weight: 300
		color: #000
		margin-bottom: 10px

.section_pricing_descr
	color: #a2a6b1
	font-size: 16px

.pricing_elements
	margin-top: 40px
	width: 870px
	display: flex
	justify-content: space-between
	color: #fff

.pricing_element
	width: 270px
	border-radius: 10px
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	padding: 30px

	h2
		font-size: 18px
		font-weight: 900

	p
		margin-top: -5px

.license_details
	color: rgba(0, 0, 0, 0.35)

	.fas
		margin-right: 5px

.license_price
	font-size: 44px
	position: relative

	span
		color: rgba(255, 255, 255, .5)
		font-size: 27px
		position: absolute
		top: 5px
		left: -14px

.license_descr
	width: 100%

.free
	background-color: #75c181

.single
	background-color: #58bbee

.multiple
	background-color: #f8a13f
	
.button-license
	background-color: rgba(0, 0, 0, 0.2)
	border: none
	color: #fff
	margin-top: 14px
	padding: 11px 30px
	border-radius: 4px
	font-weight: 800
	font-size: 16px
	transition: background-color 0.5s ease
	&:hover
		background-color: rgba(0, 0, 0, 0.5)



@import "media"